{% extends 'html/base.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" href=" {% static '/css/FAQ.css' %}">

{% endblock linkcss %}


{% block bodyvontent %}

  
    
    <section  class="sec-2 " > 
        <main  class="main__total ">
            <h2>Frequently Asked Questions</h2>
    
         
                
                <a href="{% url 'register' %}">JOIN US NOW</a>
        </main >
        <span id="particles-js"></span>
        
    </section>

    <section class="sec-faq">
        <main >
            <div class="showee" >
                <h3 >what is INT INVESTMENT WORLD ?</h3>
            </div>
            <div  class=" hidee   " > 
                INT INVESTMENT WORLD  is a Leader in Cryptocurrency investment. We operates daily trading of Crypto by its own expertise trading methods, and generates huge profits daily from the total funds collected.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>Who can be a client of INT INVESTMENT WORLD ?</h3>
            </div>
            <div  class="hidee"> 
                Everyone may be client of INT INVESTMENT WORLD , regardless of nationality or residence. The only condition is, you must be of mature age (at least 18 years old) to become our client.
    
    
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>How secure and safe my funds and personal information?</h3>
            </div>
            <div  class="hidee"> 
                Our website has several degrees of protection. Its servers are protected from DDoS attacks, and all the data is transferred by a protected channel that is provided with Comodo EV SSL certificate.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>How can I invest with INT INVESTMENT WORLD  ?</h3>
            </div>
            <div  class="hidee"> 
                To make a investment you must first become a member of INT INVESTMENT WORLD . Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>What payment methods are acceptable?</h3>
            </div>
            <div  class="hidee"> 
                INT INVESTMENT WORLD  accepts popular cryptocurrency such as Perfectmoney , Bitcoin , Litecoin , Etherum, Dogecoin, BinanceCoin and Tron
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>How can I invest with INT INVESTMENT WORLD  ?</h3>
            </div>
            <div  class="hidee"> 
                To make a investment you must first become a member of INT INVESTMENT WORLD . Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>What are the minimum and maximum limits for deposits?</h3>
            </div>
            <div  class="hidee"> 
                Yes, Minimum for investment is $10 and maximum is $50000
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>What are the minimum of withdraw?
                </h3>
            </div>
            <div  class="hidee"> 
                
    Yes, Minimum withdraw for Perfectmoney is: $1 and BTC $20, ETH $100, LTC $10, DOGE $10, BNB $10, TRON $10. We dont accept btc address that start with BC1
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>How long i recive money after withdraw?</h3>
            </div>
            <div  class="hidee"> 
                Yes, All withdraw on our system is instant.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>Do you charge fees for payouts?</h3>
            </div>
            <div  class="hidee"> 
                
    No,We never charge any fees for any transaction.However, payment processors may charge you with receiving fees and we have no control over that.
            </div>
        </main>
        <main>
            <div class="showee" >
                <h3>Do you have affiliate program?
                </h3>
            </div>
            <div  class="hidee"> 
                Yes, We have 3 level of referrals commission: 5% first level, 1% second level and 1% third level. And you can earning money without invest with our affiliate program.
            </div>
        </main>
     
    </section>




 
{% endblock bodyvontent %}

{% block scrpt %}
<script src="{% static '/js/faq.js' %}"></script>
{% endblock scrpt %}