<footer class="">
{% load static %}

    <div class="crypto__sd">
        <h2>
            WE ACCEPT <sup>MOST POPULAR</sup> CryptoCurrency

        </h2>
        <span>
            <img src="{% static 'assets/img/bnb.png'%}" alt="">
            <img src="{% static 'assets/img/eth.png'%}" alt="">
            <img src="{% static 'assets/img/doge.png'%}" alt="">
            <img src="{% static 'assets/img/ltc.png'%}" alt="">
            <img src="{% static 'assets/img/btc.png'%}" alt="">
        </span>
    </div>
    <img src="{% static 'assets/logo/W.png'%}" alt="" class="logoi" style="width: 220px; height:120px;">

    <div class="df">
<h5 class="wht">
    <i class="bi bi-location"></i>
    49a Beacon Rd, London, United Kingdom, SE13 6ED

</h5>
<i class="bi bi-telephone wht"> +1 948 (123)- (183) -(123)</i>
    </div>
    <div class="wht">
        © 2022 IVT INVESTMENT WORLD LTD. All Rights Reserved.
    </div>
</footer>