<section class="sec-1" >
{% load static %}

    <span>
        <img src="{% static 'assets/logo/W.png'%}" alt="" class="logoi">
    </span>


    <ul class="clickcon">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'contact' %}">Contact Us</a>
        <a href="{% url 'team' %}">Teams</a>
        <a href="{% url 'faq' %}">FAQ</a>
    </ul>
    <ul class="fixed__NAV">
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
    <i class="bi bi-justify-right clicksa"></i>

    </ul>
</section>